body {
  background-color: #fbfbfb;
}

header {
  background-color: #ffd041;
  box-shadow: 0px 1px 3px #888;
  height: 50px;
  padding: 0 20px;
  position: fixed;
  top: 1;
  width: 100%;
  z-index: 1;
}

header * {
  color: #111;
}

main {
  padding: 70px 20px;
}

footer {
  background-color: #111;
  bottom: 0;
  color: #ffd041;
  height: 40px;
  padding: 10px 30px;
  position: absolute;
  width: 100%;
  font-size: 12px;
}

.app.content {
  position: relative;
  min-height: 100%;
}

.app.logo {
  font-family: 'Dancing Script', cursive;
}

.app.background {
  background-image: url('/img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.app.background .filter {
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.ui.button.yellow {
  background-color: #ffd041;
  color: #111;
}
.ui.button.yellow:hover {
  background-color: #fbc520;
  color: #111;
}

.ui.card .image {
  height: 250px !important;
  background-color: white !important;
}
.ui.card .image img {
  max-height: 250px !important;
  max-width: 100%;
}

.ui.basic.segments, .ui.basic.segments > .segment {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

.ui.header.relaxed {
  padding-bottom: 10px;
  padding-top: 10px;
}
.ui.header.relaxed.very {
  padding-bottom: 20px;
  padding-top: 20px;
}

.ui.selection.list > .item.no.selection:hover {
  background-color: inherit;
  cursor: auto;
}
